@media only screen and (max-width: 767px) {
  .home-container {
    background-color: rgba(205, 44, 125, 0.819);
    /* padding: 20px; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    display: flex;
  }

  .header-img {
    width: 90vw;
    border-radius: 30px;
    opacity: 0.8;
    margin: 1.5rem 0;
  }

  .headline {
    text-decoration: underline;
    text-underline-offset: 10px;
    color: aliceblue;
  }

  .search-bar-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .table-wrapper {
    margin-top: 10px;
  }

  .Breeds {
    /* text-align: center; */
    color: purple;
    margin: 0;
    padding: 0;
    align-self: flex-start;
  }

  .temp {
    display: flex;
    flex-direction: column;
    /* margin: 0 10%; */
  }

  .table {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 15px;
    padding: 0;
    justify-content: center;
  }

  .table a {    
    text-decoration: none;
    color: purple;
  }

  .table-cell {
    position: relative;
    background-color: rgb(255, 105, 180);
    border-radius: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    width: 10rem;
    height: 10rem;
  }

  .arrow {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0.6;
  }

  .left-wing {
    position: absolute;
    bottom: 10px;
    width: 90%;
    /* min-width: 120px; */
    /* border: 2px solid aliceblue; */
    /* text-align: center; */
    left: 50%; 
    transform: translateX(-50%);
    /* padding: 5px; */
  }

  /* h1 {
    color: aliceblue;
  } */

  .breed-name {
    /* margin: 0 0 10px 0; */
    font-size: 1.4rem;
    /* font-size: 3vw; */
    /* text-decoration: none; */
  }

  .feature {
    font-size: small;
  }
}
