@media only screen and (max-width: 767px) {
  .home-container {
    background-color: rgba(255, 105, 180, 0.745);
    /* padding: 20px; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    display: flex;
  }

  .header-img {
    width: 400px;
    border-radius: 30px;
    opacity: 0.8;
    margin: 1.5rem 0;
  }

  .headline {
    text-decoration: underline;
    text-underline-offset: 10px;
    color: aliceblue;
  }

  .search-bar-wrapper {
    width: 80%;
    margin: 0 auto;
  }
  
  a {
    text-decoration: none;
    outline: none; 
  }

  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .table-wrapper {
    margin-top: 10px;
  }

  .Breeds {
    /* text-align: center; */
    color: purple;
    margin: 0;
    padding: 0;
    align-self: flex-start;
  }

  .temp {
    display: flex;
    flex-direction: column;
    /* margin: 0 10%; */
  }

  .table {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 15px;
    padding: 0;
    justify-content: center;
  }

  .table a {    
    text-decoration: none;
    color: purple;
  }

  .table-row {
    /* display: table-row; */
  }

  .table-cell {
    background-color: rgb(255, 105, 180);
    display: flex;
    /* gap: 5%; */
    /* border: 2px solid aliceblue; */
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    width: 8rem;
    height: 7rem;
  }

  .custom-li {
    /* background-image: url("../../public/assets/shape.jpg"); */
    /* opacity: 0.9; */
    /* You can also adjust other background properties here, like size, position, etc. */
  }
  /* .left-wing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 120px; */
    /* border: 2px solid aliceblue; */
    /* padding: 10px; */
  /* } */

  /* h1 {
    color: aliceblue;
  } */

  h2 {
    margin: 0 0 10px 0;
    /* font-size: 3vw; */
    text-decoration: none;
  }

  .description {
    font-size: 1rem;
    margin-top: 10px;
  }

  .feature {
    margin: 0;
    font-size: small;
  }
}

a:focus,
a:active {
  outline: none;
}